<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARz9S-OIRhifqy-qkTKJy1eheC-_vT_wE</string>
	<key>GCM_SENDER_ID</key>
	<string>954571161833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskcountryapp</string>
	<key>PROJECT_ID</key>
	<string>countryapp-cb26f</string>
	<key>STORAGE_BUCKET</key>
	<string>countryapp-cb26f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954571161833:ios:a2cfcc6f29b58f6e177078</string>
</dict>
</plist>